body {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.wrapper {
  width: 100%;
}
#survival {
  background-color: #02160b;
}
#main {
  background-color: #cccccc;
}

.hero {
  width: 1440px;
  height: 779px;
  background-image: url(assets/pictures/Rectangle.png);
  margin: 0 auto;
}
header {
  width: 1200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin: 19px 120px 0 120px;
  align-items: center;
  justify-content: space-between;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 240px;
  height: 60px;
  justify-content: space-between;
}
h1 {
  width: 155px;
  height: 60px;
  font-size: 32px;
  line-height: 60px;
}

nav {
  width: 480px;
  height: 60px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
a {
  display: block;
  color: #f7f7f7;
  text-decoration: none;
  font-size: 23px;
}
li {
  display: block;
  height: 60px;
  line-height: 60px;
}
h2 {
  font-size: 48px;
  color: #cd6326;
  line-height: 72px;
  letter-spacing: 2px;
  margin-bottom: 51px;
}
p {
  width: 274px;
  height: 108px;
  text-align: justify;
}
article {
  width: 274px;
  height: 340px;
  margin: 120px 1046px 240px 120px;
}
main {
  width: 1440px;
  height: 1368px;
  margin: 0 auto;
}
h3 {
  font-size: 48px;
  color: #333333;
  text-align: center;
  margin: 0;
}
.sub {
  font-size: 24px;
  color: #666666;
  margin-top: 20px;
}
.secondTitle {
  width: 332px;
  height: 128px;
  margin: 120px auto;
}
h4 {
  font-size: 27px;
  color: #333333;
  text-align: center;
  margin-top: 239px;
}
button {
  border: none;
  background-color: unset;
  color: #f7f7f7;
}
button:hover {
  cursor: pointer;
}
.button {
  width: 160px;
  background-color: #cd6326;
  height: 60px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 23px;
  line-height: 60px;
  text-align: center;
}
.buttonInput {
  height: 60px;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  padding: 0;
}
.right {
  transform: scaleX(-1);
}
.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h5 {
  font-size: 22px;
  margin: 0 auto;
}
h6 {
  font-size: 17px;
  margin: 0;
  margin-top: 10px;
}
.description {
  position: relative;
  top: -113px;
  height: 73px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}
.button2 {
  width: 120px;
  height: 60px;
  line-height: 60px;
}
.getNotified {
  width: 661px;
  height: 162px;
  margin: 0 auto;
}
.input {
  margin-top: 59px;
  display: flex;
  flex-direction: row;
  width: 660px;
  height: 62px;
}
.inputArea {
  border: solid 1px #666666;
  border-right: unset;
  width: 539px;
  height: 58px;
  padding: 0 15px;
}
input {
  width: 510px;
  height: 60px;
  background-color: unset;
  border: unset;
  padding: 0;
  margin: 0 auto;
}
input:focus,
input:active {
  outline: 0;
}
#footer {
  background-color: #181617;
}
footer {
  width: 1440px;
  height: 359px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background-image: url(assets/pictures/footer.jpg);
}
.footerContent {
  width: 1200px;
  height: 60px;
  margin: 150px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footerNav {
  width: 480px;
  height: 60px;
}
.socials {
  width: 240px;
  height: 40px;
}
.icon {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconLink {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 155px;
  height: 60px;
  font-size: 32px;
  line-height: 60px;
  color: #f7f7f7;
  margin: 0;
  text-align: left;
}
